body {

font-family: 'Open Sans', sans-serif;
background-color: #f0efef;
}

.nav {
 background-color: #2A4053;
 padding: 23px 20px;
}

.nav:after {
  content: "";
  clear: both;
  display: block;
}


.logo-container {
  font-weight: 600;

}

.logo-container,
.nav-items,
.nav-items li {
  display: inline-block;
  font-size: 24px;
}

/* NAVIGATION */

.logo-container {
  color: white;
  padding: 9px;
  padding-left: 37px;
  font-weight:60px;
}

.nav-items li a {
  color: #f9e42e;
  text-decoration: none;

}

.nav-items {
  float: right;
  margin: 10px;
  font-weight: 300;
}

.nav-items li {
  padding-right: 20px;
}
/* Grid layout / columns */

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.column_66 {
  width: 66%;
  float: left;
  background-color: #f0efef;
}

.column_33 {
  width: 33%;
  float:left;
  background-color: #f0efef;
}

img {
  width: 100%;
  margin-bottom:20px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: #033048;
    margin-bottom: 15px;
}


.section1 {
    padding-left: 61px;
    padding-top: 54px;
    padding-bottom: 35px;
}

.section1 p {

    color: #606161;
    font-size: 24px;
    font-weight: 100;
}

.section2 p {
    font-size: 24px;
    font-weight: 200;
    color: #606161;
    font-weight: 100;
}

.button {
    font-size: 24px;
    font-weight: 600;
}

.section2 {
   padding-left: 61px;
   padding-top: 54px;
   padding-bottom: 35px;
}

/*sidebar*/

.column_33 {
  color: #033048;
  background-color: #f0efef;
}

.categories {
      margin-top: 24px;
      margin-left: 20px;
}

.about {
    margin-left: 20px;
}

.adunit {
    background-color: white;
    height: 500px;
    width: 70%;
    margin-left: 20px;
}

h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top:40px;

  }


.categories li {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 3px;

}


h4 {

  width: 65%;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 3px;

}


h5 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
} 

h6 {
   text-align: center;
   font-size: 25px;
   padding: 17px;
   font-weight: 600;
}

footer {
    clear: both;
    padding-top: 70px;
}

.yellow {
    clear: both;
    background-color: #f9e42e;
    height: 80px;
}

.signup {
    background-color: #033048;
    color: white;
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
    margin-top: 12px;
    padding: 8px;
    width: 152px;
    margin-left: 0;
}

 button {

    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    margin-left: 390px;
    margin-top: 35px;

}

.border {
    background-color: black;
    height: 1px;
    margin-top: 40px;
}

/*Footer*/

.bottom {
    background-color: #121212;
    height: 180px;
}

.bottom h6 {
    color: #f9e42e;
    font-size: 28px;
    padding-top: 44px;
}

.facebook {
  width: 10px;
  padding: 8px;
}

.twitter {
  width: 27px;
  padding: 8px;
  margin-right: 19px;
}

.copyright {

  color: white;
  font-size: 12px;
  font-weight: 100;
  padding-top: 15px;
}

.dropcap{
    float:left;
    font-size:400%;
    margin-top:14px;
    margin-right:10px;
    color: #606161;

}

/*fin*/